body {
    margin: 0;
}
div {
    position: absolute;
}

.arena {
    
    height: 100%;
    width: 100%;
    background-color: rgb(70, 106, 189);
    user-select: none;
    opacity: 0.9;
}
.btn {
    font-family: "Black Ops One", system-ui;
    flex-flow: row;
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    border-radius: 9px;
    border: 3px solid rgb(90, 194, 160);
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: all 1s linear 0s;
    user-select: none;
    opacity: 1;
    -webkit-transition: top 0.5s, left 0.5s;
}

.counter1 {

    font-family: "Black Ops One", system-ui;
    margin: 0;
    background-color: rgb(90, 194, 160);
    margin-bottom: 0%;
    border: thick double  rgb(70, 106, 189);
    user-select: none;
   
}
