body {
    margin: 0;
}
div {
    position: absolute;
}

.arena {
    
    height: 100%;
    width: 100%;
    background-color: rgb(144, 108, 71);
    user-select: none;
    opacity: 0.9;
}
.btn {
    flex-flow: row;
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: all 1s linear 0s;
    user-select: none;
    opacity: 1;
    -webkit-transition: top 0.5s, left 0.5s;
}

.counter1 {
    margin: 0;
    background-color: rgb(201, 180, 157);
    margin-bottom: 0%;
    border: 2px solid rgb(72, 2, 2);
    user-select: none;
   
}
